body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1600px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5766 {
  position:fixed;
  left:0px;
  top:50%;
  margin-top:-450.5px;
  width:1601px;
  height:901px;
  overflow:hidden;
}
#u5766_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:901px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(153, 153, 153, 1);
  background-image:url('../../images/锁屏界面/u5766_state0.jpg');
  background-position:right top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#u5766_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:901px;
  overflow:hidden;
}
#u5767_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:901px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  background-image:none;
}
#u5767_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5768 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:138px;
  width:1141px;
  height:351px;
  overflow:hidden;
}
#u5768_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:351px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5768_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:41px;
}
#u5769 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:119px;
  width:356px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5769_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:352px;
  word-wrap:break-word;
}
#u5770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:51px;
}
#u5770 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:185px;
  width:56px;
  height:50px;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5770_img.mouseOver {
}
#u5770.mouseOver {
  opacity:0.8;
}
#u5770_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  word-wrap:break-word;
}
#u5771 {
  position:absolute;
  left:393px;
  top:245px;
  visibility:hidden;
}
#u5771_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:301px;
  height:41px;
  background-image:none;
}
#u5771_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:41px;
}
#u5772 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFA847;
  text-align:left;
}
#u5772_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:270px;
  word-wrap:break-word;
}
#u5771_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:301px;
  height:41px;
  visibility:hidden;
  background-image:none;
}
#u5771_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:41px;
}
#u5773 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#FFA847;
  text-align:left;
}
#u5773_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:270px;
  word-wrap:break-word;
}
#u5774 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:51px;
}
#u5775 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:185px;
  width:300px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:transparent;
  text-align:right;
}
#u5775_img.selected {
  left:-1px;
  top:-1px;
  width:303px;
  height:53px;
}
#u5775.selected {
}
#u5775_img.disabled {
  left:-10px;
  top:-10px;
  width:321px;
  height:71px;
}
#u5775.disabled {
}
#u5775_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5776 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:185px;
  width:248px;
  height:50px;
}
#u5776_input {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:50px;
  background-color:transparent;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:51px;
}
#u5777 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:185px;
  width:40px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u5777_img.mouseOver {
}
#u5777.mouseOver {
  opacity:0.8;
}
#u5777_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:36px;
  word-wrap:break-word;
}
#u5778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u5778 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:10px;
  width:100px;
  height:100px;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
}
#u5778_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:96px;
  word-wrap:break-word;
}
#u5779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:55px;
}
#u5779 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:275px;
  width:356px;
  height:54px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#E4E4E4;
  line-height:48px;
}
#u5779_img.mouseOver {
}
#u5779.mouseOver {
}
#u5779_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:352px;
  word-wrap:break-word;
}
