body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1140px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:881px;
}
#u3965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:880px;
}
#u3965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:881px;
}
#u3967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:880px;
}
#u3967_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3968_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-2px;
  width:1151px;
  height:61px;
}
#u3968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u3968_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u3969 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#999999;
  line-height:12px;
}
#u3969_img.mouseOver {
}
#u3969.mouseOver {
}
#u3969_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:19px;
  width:50px;
  word-wrap:break-word;
}
#u3970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u3970 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u3970_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u3971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:51px;
}
#u3971 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:0px;
  width:60px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u3971_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:60px;
  word-wrap:break-word;
}
#u3972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u3972 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u3972_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u3973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u3973 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:209px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u3973_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:209px;
  word-wrap:break-word;
}
#u3975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u3976 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:170px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u3976_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u3977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:41px;
}
#u3977 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:170px;
  width:300px;
  height:40px;
  color:#BFBFBF;
  text-align:left;
}
#u3977_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3977_ann {
  border-width:0px;
  position:absolute;
  left:423px;
  top:166px;
  width:1px;
  height:1px;
}
#u3978 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:175px;
  width:271px;
  height:30px;
}
#u3978_input {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#515151;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u3980 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:290px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u3980_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u3981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:41px;
}
#u3981 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:290px;
  width:300px;
  height:40px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BFBFBF;
  text-align:left;
}
#u3981_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:9px;
  width:288px;
  word-wrap:break-word;
}
#u3982 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:295px;
  width:255px;
  height:30px;
}
#u3982_input {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#515151;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u3984 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:230px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u3984_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u3985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:41px;
}
#u3985 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:230px;
  width:300px;
  height:40px;
  color:#BFBFBF;
  text-align:left;
}
#u3985_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3986 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:235px;
  width:271px;
  height:30px;
}
#u3986_input {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#515151;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u3988 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:350px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u3988_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u3989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:41px;
}
#u3989 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:350px;
  width:300px;
  height:40px;
  color:#BFBFBF;
  text-align:left;
}
#u3989_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3989_ann {
  border-width:0px;
  position:absolute;
  left:423px;
  top:346px;
  width:1px;
  height:1px;
}
#u3990 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:355px;
  width:271px;
  height:30px;
}
#u3990_input {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#515151;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u3992 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:410px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u3992_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u3993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:41px;
}
#u3993 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:410px;
  width:300px;
  height:40px;
  color:#BFBFBF;
  text-align:left;
}
#u3993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3994 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:415px;
  width:271px;
  height:30px;
}
#u3994_input {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#515151;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u3996 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:470px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u3996_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u3997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:41px;
}
#u3997 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:470px;
  width:300px;
  height:40px;
  color:#BFBFBF;
  text-align:left;
}
#u3997_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:288px;
  word-wrap:break-word;
}
#u3998 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:475px;
  width:236px;
  height:30px;
}
#u3998_input {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#515151;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:41px;
}
#u4000 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:530px;
  width:346px;
  height:40px;
  text-align:left;
}
#u4000_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:334px;
  word-wrap:break-word;
}
#u4001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u4001 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:530px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u4001_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:110px;
  word-wrap:break-word;
}
#u4002 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:41px;
}
#u4003 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:590px;
  width:80px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4003_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u4004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:41px;
}
#u4004 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:590px;
  width:400px;
  height:40px;
  color:#BFBFBF;
  text-align:left;
}
#u4004_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:388px;
  word-wrap:break-word;
}
#u4005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u4005 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:590px;
  width:40px;
  height:40px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BFBFBF;
}
#u4005_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:36px;
  word-wrap:break-word;
}
#u4006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:41px;
}
#u4007 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:650px;
  width:80px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4007_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u4008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:41px;
}
#u4008 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:650px;
  width:400px;
  height:40px;
  color:#BFBFBF;
  text-align:left;
}
#u4008_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:388px;
  word-wrap:break-word;
}
#u4009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u4009 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:650px;
  width:40px;
  height:40px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BFBFBF;
}
#u4009_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:36px;
  word-wrap:break-word;
}
#u4010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u4011 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:170px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u4011_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u4012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:41px;
}
#u4012 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:170px;
  width:300px;
  height:40px;
  color:#BFBFBF;
  text-align:left;
}
#u4012_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4013 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:175px;
  width:271px;
  height:30px;
}
#u4013_input {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:30px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#515151;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:41px;
}
#u4015 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:390px;
  width:80px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4015_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u4016 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:390px;
  width:400px;
  height:200px;
}
#u4016_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:200px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#BFBFBF;
  text-align:right;
}
#u4017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u4018 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:270px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u4018_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u4019 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u4020 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:270px;
  width:120px;
  height:40px;
  color:#999999;
}
#u4020_img.mouseOver {
}
#u4020.mouseOver {
}
#u4020_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u4021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:35px;
}
#u4021 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:310px;
  width:357px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u4021_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:353px;
  word-wrap:break-word;
}
#u4022 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:51px;
}
#u4023 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:80px;
  width:298px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
  line-height:16px;
}
#u4023_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:294px;
  word-wrap:break-word;
}
#u4024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:51px;
}
#u4024 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:80px;
  width:295px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
  line-height:16px;
}
#u4024_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:291px;
  word-wrap:break-word;
}
#u4025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:51px;
}
#u4025 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:80px;
  width:297px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:16px;
}
#u4025_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:293px;
  word-wrap:break-word;
}
#u4026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:51px;
}
#u4026 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:80px;
  width:295px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:16px;
}
#u4026_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:291px;
  word-wrap:break-word;
}
#u4027 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u4028 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:808px;
  width:140px;
  height:40px;
  color:#FFFFFF;
}
#u4028_img.mouseOver {
}
#u4028.mouseOver {
  opacity:0.8;
}
#u4028_img.mouseDown {
}
#u4028.mouseDown {
  opacity:1;
}
#u4028_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u4029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u4029 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:808px;
  width:140px;
  height:40px;
  color:#3760AC;
}
#u4029_img.mouseOver {
}
#u4029.mouseOver {
  opacity:0.8;
}
#u4029_img.mouseDown {
}
#u4029.mouseDown {
  opacity:1;
}
#u4029_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
