body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1260px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:51px;
  overflow:hidden;
}
#u3961_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
}
#u3961_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3962_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:396px;
  height:55px;
}
#u3962 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:0px;
  width:391px;
  height:50px;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u3962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:391px;
  word-wrap:break-word;
}
#u3963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:51px;
}
#u3963 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:0px;
  width:80px;
  height:50px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:36px;
}
#u3963_img.mouseOver {
}
#u3963.mouseOver {
}
#u3963_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u3964 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:1261px;
  height:101px;
  overflow:hidden;
}
#u3964_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:101px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u3964_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:1261px;
  height:2px;
  overflow:hidden;
}
#u3965_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:2px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(233, 233, 233, 1);
  background-image:none;
}
#u3965_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:66px;
}
#u3966 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:68px;
  width:200px;
  height:65px;
  font-size:24px;
  color:#999999;
  text-align:left;
  line-height:28px;
}
#u3966_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:200px;
  word-wrap:break-word;
}
#u3968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:41px;
}
#u3968 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:81px;
  width:116px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u3968_img.mouseOver {
}
#u3968.mouseOver {
}
#u3968_img.selected {
}
#u3968.selected {
}
#u3968_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u3969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:41px;
}
#u3969 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:81px;
  width:116px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u3969_img.mouseOver {
}
#u3969.mouseOver {
}
#u3969_img.selected {
}
#u3969.selected {
}
#u3969_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u3970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:41px;
}
#u3970 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:81px;
  width:116px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u3970_img.mouseOver {
}
#u3970.mouseOver {
}
#u3970_img.selected {
}
#u3970.selected {
}
#u3970_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u3971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:41px;
}
#u3971 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:81px;
  width:116px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u3971_img.mouseOver {
}
#u3971.mouseOver {
}
#u3971_img.selected {
}
#u3971.selected {
}
#u3971_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u3972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:41px;
}
#u3972 {
  border-width:0px;
  position:absolute;
  left:1116px;
  top:81px;
  width:116px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u3972_img.mouseOver {
}
#u3972.mouseOver {
}
#u3972_img.selected {
}
#u3972.selected {
}
#u3972_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u3973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1198px;
  height:918px;
}
#u3973 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:295px;
  width:1198px;
  height:918px;
}
#u3973_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
