body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:relative;
  left:-20px;
  width:1260px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17173 {
  position:fixed;
  left:0px;
  top:0px;
}
#u17173_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1301px;
  height:51px;
  background-image:none;
}
#u17173_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17174_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-2px;
  width:1311px;
  height:61px;
}
#u17174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u17174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u17175 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#999999;
  line-height:12px;
}
#u17175_img.mouseOver {
}
#u17175.mouseOver {
}
#u17175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:19px;
  width:50px;
  word-wrap:break-word;
}
#u17176 {
  position:absolute;
  left:1220px;
  top:13px;
}
#u17176_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background-image:none;
}
#u17176_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u17177 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u17177_img.mouseOver {
}
#u17177.mouseOver {
}
#u17177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u17178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u17178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u17178_img.mouseOver {
}
#u17178.mouseOver {
}
#u17178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u17179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u17179 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u17179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u17180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:51px;
}
#u17180 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:0px;
  width:60px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u17180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:60px;
  word-wrap:break-word;
}
#u17181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u17181 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u17181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u17182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u17182 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:209px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u17182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:209px;
  word-wrap:break-word;
}
#u17183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:1629px;
}
#u17184 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:1260px;
  height:1628px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u17184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:61px;
}
#u17185 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:1260px;
  height:60px;
  text-align:left;
  line-height:28px;
}
#u17185_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:16px;
  width:1240px;
  word-wrap:break-word;
}
#u17186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:61px;
}
#u17186 {
  border-width:0px;
  position:absolute;
  left:1151px;
  top:70px;
  width:129px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u17186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:109px;
  word-wrap:break-word;
}
#u17187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:41px;
}
#u17187 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:180px;
  width:400px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u17187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u17188 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:180px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u17188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u17189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:41px;
}
#u17189 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:360px;
  width:400px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u17189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u17190 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:240px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u17190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u17191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u17191 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:360px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u17191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u17192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:41px;
}
#u17192 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:300px;
  width:400px;
  height:40px;
  text-align:left;
  line-height:28px;
}
#u17192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:400px;
  word-wrap:break-word;
}
#u17192_ann {
  border-width:0px;
  position:absolute;
  left:893px;
  top:296px;
  width:1px;
  height:1px;
}
#u17193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u17193 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:300px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u17193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u17194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:41px;
}
#u17194 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:480px;
  width:400px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u17194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u17195 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:480px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u17195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u17196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:41px;
}
#u17196 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:540px;
  width:400px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u17196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u17197 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:540px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u17197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u17198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:41px;
}
#u17198 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:600px;
  width:400px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u17198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u17199 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:600px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u17199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u17200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:41px;
}
#u17200 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:660px;
  width:400px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u17200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u17201 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:660px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u17201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u17202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u17202 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:720px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u17202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u17203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:41px;
}
#u17204 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:720px;
  width:400px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u17204_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:388px;
  word-wrap:break-word;
}
#u17204_ann {
  border-width:0px;
  position:absolute;
  left:893px;
  top:716px;
  width:1px;
  height:1px;
}
#u17205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u17205 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:720px;
  width:40px;
  height:40px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u17205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u17206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:41px;
}
#u17206 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:780px;
  width:400px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u17206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u17207 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:780px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u17207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u17208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u17208 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:840px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u17208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u17209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:161px;
}
#u17210 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:840px;
  width:400px;
  height:160px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u17210_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:380px;
  word-wrap:break-word;
}
#u17211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:41px;
}
#u17211 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:960px;
  width:400px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:right;
  line-height:28px;
}
#u17211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:380px;
  word-wrap:break-word;
}
#u17212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:41px;
}
#u17213 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:420px;
  width:400px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u17213_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:388px;
  word-wrap:break-word;
}
#u17213_ann {
  border-width:0px;
  position:absolute;
  left:893px;
  top:416px;
  width:1px;
  height:1px;
}
#u17214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u17214 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:420px;
  width:40px;
  height:40px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u17214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u17215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u17215 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:420px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:28px;
}
#u17215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u17216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u17216 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:1577px;
  width:140px;
  height:40px;
  line-height:20px;
}
#u17216_img.mouseOver {
}
#u17216.mouseOver {
  opacity:0.8;
}
#u17216_img.mouseDown {
}
#u17216.mouseDown {
  opacity:1;
}
#u17216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u17217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u17217 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:1577px;
  width:140px;
  height:40px;
}
#u17217_img.mouseOver {
}
#u17217.mouseOver {
  opacity:0.8;
}
#u17217_img.mouseDown {
}
#u17217.mouseDown {
  opacity:1;
}
#u17217_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u17218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:41px;
}
#u17218 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:1020px;
  width:400px;
  height:40px;
  text-align:left;
  line-height:28px;
}
#u17218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:400px;
  word-wrap:break-word;
}
#u17218_ann {
  border-width:0px;
  position:absolute;
  left:893px;
  top:1016px;
  width:1px;
  height:1px;
}
#u17219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:41px;
}
#u17220 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:240px;
  width:400px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u17220_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:388px;
  word-wrap:break-word;
}
#u17220_ann {
  border-width:0px;
  position:absolute;
  left:893px;
  top:236px;
  width:1px;
  height:1px;
}
#u17221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u17221 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:240px;
  width:40px;
  height:40px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
}
#u17221_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
