body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:-20px;
  width:1260px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:701px;
}
#u5780 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:80px;
  width:1260px;
  height:700px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u5780_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5782 {
  position:fixed;
  left:0px;
  top:0px;
}
#u5782_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1301px;
  height:51px;
  background-image:none;
}
#u5782_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5783_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-2px;
  width:1311px;
  height:61px;
}
#u5783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u5783_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u5784 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#999999;
  line-height:12px;
}
#u5784_img.mouseOver {
}
#u5784.mouseOver {
}
#u5784_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:19px;
  width:50px;
  word-wrap:break-word;
}
#u5785 {
  position:absolute;
  left:1220px;
  top:13px;
}
#u5785_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background-image:none;
}
#u5785_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u5786 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5786_img.mouseOver {
}
#u5786.mouseOver {
}
#u5786_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u5787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u5787 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5787_img.mouseOver {
}
#u5787.mouseOver {
}
#u5787_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u5788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u5788 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u5788_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u5789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:51px;
}
#u5789 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:0px;
  width:60px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u5789_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:60px;
  word-wrap:break-word;
}
#u5790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u5790 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u5790_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u5791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u5791 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:209px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u5791_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:209px;
  word-wrap:break-word;
}
#u5792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:212px;
}
#u5792 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:250px;
  width:1000px;
  height:211px;
}
#u5792_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  word-wrap:break-word;
}
#u5793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u5793 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:513px;
  width:200px;
  height:50px;
  font-size:16px;
  color:#0079FE;
  line-height:20px;
}
#u5793_img.mouseOver {
}
#u5793.mouseOver {
}
#u5793_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:200px;
  word-wrap:break-word;
}
