body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:relative;
  left:-20px;
  width:1260px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:71px;
}
#u21815 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:1260px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u21815_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:41px;
}
#u21816 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:85px;
  width:103px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:28px;
}
#u21816_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u21817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:2051px;
}
#u21817 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:250px;
  width:1260px;
  height:2050px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u21817_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:51px;
}
#u21818 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:260px;
  width:1200px;
  height:50px;
  text-align:left;
  line-height:40px;
}
#u21818_img.selected {
}
#u21818.selected {
}
#u21818_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:1196px;
  word-wrap:break-word;
}
#u21819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:51px;
}
#u21819 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:779px;
  width:1200px;
  height:50px;
  text-align:left;
  line-height:40px;
}
#u21819_img.selected {
}
#u21819.selected {
}
#u21819_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:1196px;
  word-wrap:break-word;
}
#u21820 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:829px;
  width:1200px;
  height:200px;
}
#u21821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u21821 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u21821_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u21822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u21822 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u21822_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u21823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u21823 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u21823_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u21824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u21824 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:0px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u21824_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u21825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u21825 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u21825_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u21826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u21826 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:40px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u21826_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u21827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u21827 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:40px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u21827_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u21828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u21828 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:40px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u21828_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u21829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u21829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u21829_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u21830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u21830 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:80px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u21830_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u21831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u21831 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:80px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u21831_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u21832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u21832 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:80px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u21832_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u21833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u21833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u21833_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u21834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u21834 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:120px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u21834_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u21835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u21835 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:120px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u21835_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u21836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u21836 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:120px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u21836_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u21837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u21837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u21837_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u21838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u21838 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:160px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u21838_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u21839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u21839 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:160px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u21839_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u21840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u21840 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:160px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u21840_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u21841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u21841 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:87px;
  width:110px;
  height:35px;
  color:#0079FE;
}
#u21841_img.mouseOver {
}
#u21841.mouseOver {
}
#u21841_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u21843 {
  position:fixed;
  left:0px;
  top:0px;
}
#u21843_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1301px;
  height:51px;
  background-image:none;
}
#u21843_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21844_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-2px;
  width:1311px;
  height:61px;
}
#u21844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u21844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u21845 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#999999;
  line-height:12px;
}
#u21845_img.mouseOver {
}
#u21845.mouseOver {
}
#u21845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:19px;
  width:50px;
  word-wrap:break-word;
}
#u21846 {
  position:absolute;
  left:1220px;
  top:13px;
}
#u21846_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background-image:none;
}
#u21846_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u21847 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u21847_img.mouseOver {
}
#u21847.mouseOver {
}
#u21847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u21848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u21848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u21848_img.mouseOver {
}
#u21848.mouseOver {
}
#u21848_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u21849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u21849 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u21849_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u21850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:51px;
}
#u21850 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:0px;
  width:60px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u21850_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:60px;
  word-wrap:break-word;
}
#u21851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u21851 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u21851_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u21852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u21852 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:209px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u21852_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:209px;
  word-wrap:break-word;
}
#u21853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:91px;
}
#u21853 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:150px;
  width:1260px;
  height:90px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u21853_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21854 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:51px;
}
#u21855 {
  border-width:0px;
  position:absolute;
  left:929px;
  top:170px;
  width:321px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
  line-height:16px;
}
#u21855_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:317px;
  word-wrap:break-word;
}
#u21856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:51px;
}
#u21856 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:170px;
  width:318px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
  line-height:16px;
}
#u21856_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:314px;
  word-wrap:break-word;
}
#u21857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:51px;
}
#u21857 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:170px;
  width:320px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:16px;
}
#u21857_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  word-wrap:break-word;
}
#u21858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:51px;
}
#u21858 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:170px;
  width:318px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:16px;
}
#u21858_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:314px;
  word-wrap:break-word;
}
#u21859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:51px;
}
#u21859 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:599px;
  width:1200px;
  height:50px;
  text-align:left;
  line-height:40px;
}
#u21859_img.selected {
}
#u21859.selected {
}
#u21859_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:1196px;
  word-wrap:break-word;
}
#u21860 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:649px;
  width:1200px;
  height:120px;
}
#u21861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u21861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u21861_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u21862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u21862 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u21862_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u21863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u21863 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u21863_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u21864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u21864 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:0px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u21864_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u21865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u21865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u21865_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u21866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u21866 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:40px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u21866_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u21867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u21867 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:40px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u21867_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u21868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u21868 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:40px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u21868_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u21869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u21869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u21869_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u21870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u21870 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:80px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u21870_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u21871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u21871 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:80px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u21871_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u21872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u21872 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:80px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u21872_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u21874 {
  position:fixed;
  left:50%;
  margin-left:-280.5px;
  top:50%;
  margin-top:-200.5px;
}
#u21874_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:561px;
  height:401px;
  background-image:none;
}
#u21874_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21875_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:571px;
  height:411px;
}
#u21875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:400px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:20px;
}
#u21875_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:520px;
  word-wrap:break-word;
}
#u21876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:51px;
}
#u21876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u21876_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:520px;
  word-wrap:break-word;
}
#u21877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u21877 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u21877_img.mouseOver {
}
#u21877.mouseOver {
}
#u21877_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  word-wrap:break-word;
}
#u21878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:61px;
}
#u21879 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:340px;
  width:560px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u21879_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21881 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u21882 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:355px;
  width:80px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u21882_img.mouseOver {
}
#u21882.mouseOver {
  opacity:0.8;
}
#u21882_img.mouseDown {
}
#u21882.mouseDown {
  opacity:1;
}
#u21882_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u21883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u21883 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:355px;
  width:80px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
}
#u21883_img.mouseOver {
}
#u21883.mouseOver {
  opacity:0.8;
}
#u21883_img.mouseDown {
}
#u21883.mouseDown {
  opacity:1;
}
#u21883_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u21884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:201px;
}
#u21885 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:110px;
  width:500px;
  height:200px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u21885_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:480px;
  word-wrap:break-word;
}
#u21886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:41px;
}
#u21886 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:270px;
  width:500px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:right;
  line-height:28px;
}
#u21886_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:480px;
  word-wrap:break-word;
}
#u21887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:31px;
}
#u21887 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:70px;
  width:490px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u21887_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  word-wrap:break-word;
}
#u21888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:41px;
}
#u21888 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:85px;
  width:260px;
  height:40px;
  text-align:left;
  line-height:28px;
}
#u21888_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:260px;
  word-wrap:break-word;
}
#u21889 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:310px;
  width:1200px;
  height:280px;
}
#u21890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u21890 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u21890_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u21891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u21891 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u21891_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u21892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u21892 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u21892_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u21893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u21893 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:0px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u21893_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u21895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u21895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u21895_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u21896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u21896 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:40px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u21896_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u21898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u21898 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:40px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u21898_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u21899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u21899 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:40px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0079FE;
  text-align:left;
  line-height:28px;
}
#u21899_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u21901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u21901 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u21901_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u21902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u21902 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:80px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u21902_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u21903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u21903 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:80px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u21903_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u21904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u21904 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:80px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u21904_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u21905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u21905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u21905_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u21906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u21906 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:120px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u21906_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u21907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u21907 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:120px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u21907_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u21908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u21908 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:120px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u21908_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u21909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u21909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u21909_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u21910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u21910 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:160px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u21910_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u21911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u21911 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:160px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u21911_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u21912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u21912 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:160px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u21912_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u21913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u21913 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u21913_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u21914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u21914 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:200px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u21914_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u21915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u21915 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:200px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u21915_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u21916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u21916 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:200px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u21916_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u21917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u21917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:28px;
}
#u21917_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u21918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u21918 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:240px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u21918_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
#u21919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u21919 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:240px;
  width:120px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u21919_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u21920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:41px;
}
#u21920 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:240px;
  width:480px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u21920_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:458px;
  word-wrap:break-word;
}
