body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1140px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:61px;
}
#u3936 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:350px;
  width:1100px;
  height:60px;
}
#u3936_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3938 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u3939 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:90px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3760AC;
}
#u3939_img.selected {
}
#u3939.selected {
}
#u3939_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u3940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u3940 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:90px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3760AC;
}
#u3940_img.selected {
}
#u3940.selected {
}
#u3940_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u3941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u3941 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:90px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3760AC;
}
#u3941_img.selected {
}
#u3941.selected {
}
#u3941_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u3942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u3942 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:90px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3760AC;
}
#u3942_img.selected {
}
#u3942.selected {
}
#u3942_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u3943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u3943 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:90px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3760AC;
}
#u3943_img.selected {
}
#u3943.selected {
}
#u3943_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u3945_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-2px;
  width:1151px;
  height:61px;
}
#u3945 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u3945_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u3946 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  font-size:18px;
  color:#999999;
  line-height:12px;
}
#u3946_img.mouseOver {
}
#u3946.mouseOver {
}
#u3946_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:19px;
  width:50px;
  word-wrap:break-word;
}
#u3947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u3947 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u3947_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u3948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:51px;
}
#u3948 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:0px;
  width:60px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u3948_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:60px;
  word-wrap:break-word;
}
#u3949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:51px;
}
#u3949 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:0px;
  width:25px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u3949_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:25px;
  word-wrap:break-word;
}
#u3950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:51px;
}
#u3950 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:209px;
  height:50px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u3950_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:209px;
  word-wrap:break-word;
}
#u3952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:201px;
}
#u3952 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:130px;
  width:1000px;
  height:200px;
}
#u3952_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3953 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u3954 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:150px;
  width:80px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3954_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u3955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:31px;
}
#u3955 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:150px;
  width:300px;
  height:30px;
  color:#BFBFBF;
  text-align:left;
}
#u3955_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:288px;
  word-wrap:break-word;
}
#u3956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:31px;
}
#u3956 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:150px;
  width:40px;
  height:30px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BFBFBF;
}
#u3956_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u3957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u3958 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:200px;
  width:80px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3958_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u3959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:31px;
}
#u3959 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:200px;
  width:200px;
  height:30px;
  color:#BFBFBF;
  text-align:left;
}
#u3959_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:188px;
  word-wrap:break-word;
}
#u3960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u3960 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:200px;
  width:30px;
  height:30px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BFBFBF;
}
#u3960_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u3961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u3962 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:200px;
  width:80px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3962_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u3963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:31px;
}
#u3963 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:200px;
  width:200px;
  height:30px;
  color:#BFBFBF;
  text-align:left;
}
#u3963_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:188px;
  word-wrap:break-word;
}
#u3964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u3964 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:200px;
  width:30px;
  height:30px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BFBFBF;
}
#u3964_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u3965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u3966 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:150px;
  width:80px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3966_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u3967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:31px;
}
#u3967 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:150px;
  width:200px;
  height:30px;
  color:#BFBFBF;
  text-align:left;
}
#u3967_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:188px;
  word-wrap:break-word;
}
#u3968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u3968 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:150px;
  width:30px;
  height:30px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BFBFBF;
}
#u3968_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u3969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u3970 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:200px;
  width:80px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3970_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u3971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:31px;
}
#u3971 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:200px;
  width:200px;
  height:30px;
  color:#BFBFBF;
  text-align:left;
}
#u3971_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:188px;
  word-wrap:break-word;
}
#u3972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u3972 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:200px;
  width:30px;
  height:30px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BFBFBF;
}
#u3972_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u3973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u3974 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:250px;
  width:80px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3974_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u3975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:31px;
}
#u3975 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:250px;
  width:200px;
  height:30px;
  color:#BFBFBF;
  text-align:left;
}
#u3975_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u3976 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:250px;
  width:30px;
  height:30px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BFBFBF;
}
#u3976_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u3977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u3977 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:256px;
  width:70px;
  height:19px;
  color:#999999;
}
#u3977_img.mouseOver {
}
#u3977.mouseOver {
}
#u3977_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u3979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u3980 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:360px;
  width:120px;
  height:40px;
  color:#FFFFFF;
}
#u3980_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u3981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u3981 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:360px;
  width:120px;
  height:40px;
  color:#FFFFFF;
}
#u3981_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u3982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u3982 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:360px;
  width:120px;
  height:40px;
  color:#FFFFFF;
}
#u3982_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u3983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u3983 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:360px;
  width:120px;
  height:40px;
  color:#FFFFFF;
}
#u3983_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u3984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:41px;
}
#u3984 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:360px;
  width:120px;
  height:40px;
  color:#FFFFFF;
}
#u3984_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u3985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:41px;
}
#u3985 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:360px;
  width:80px;
  height:40px;
  color:#3760AC;
}
#u3985_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:76px;
  word-wrap:break-word;
}
#u3986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u3986 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:363px;
  width:80px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#999999;
}
#u3986_img.mouseOver {
}
#u3986.mouseOver {
}
#u3986_img.selected {
}
#u3986.selected {
}
#u3986_img.disabled {
}
#u3986.disabled {
}
#u3986_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u3987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:589px;
}
#u3987 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:430px;
  width:1100px;
  height:588px;
}
#u3987_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3988 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:450px;
  width:1050px;
  height:69px;
}
#u3989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u3989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3989_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:31px;
}
#u3990 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:0px;
  width:160px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3990_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u3991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u3991 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3991_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u3992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u3992 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3992_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u3993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:31px;
}
#u3993 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3993_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u3994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u3994 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3994_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u3995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u3995 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3995_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u3996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u3996 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3996_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u3997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:31px;
}
#u3997 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:0px;
  width:140px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3997_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u3998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:31px;
}
#u3998 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3998_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u3999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:40px;
}
#u3999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:30px;
  height:39px;
}
#u3999_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:40px;
}
#u4000 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:160px;
  height:39px;
  font-size:12px;
}
#u4000_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u4001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u4001 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:30px;
  width:80px;
  height:39px;
  font-size:12px;
}
#u4001_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u4002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u4002 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:30px;
  width:80px;
  height:39px;
  font-size:12px;
}
#u4002_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u4003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
}
#u4003 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:30px;
  width:120px;
  height:39px;
  font-size:12px;
}
#u4003_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u4004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u4004 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:30px;
  width:80px;
  height:39px;
  font-size:12px;
}
#u4004_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u4005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u4005 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:30px;
  width:80px;
  height:39px;
  font-size:12px;
}
#u4005_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u4006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u4006 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:30px;
  width:80px;
  height:39px;
  font-size:12px;
}
#u4006_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u4007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
#u4007 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:30px;
  width:140px;
  height:39px;
  font-size:12px;
}
#u4007_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:40px;
}
#u4008 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:30px;
  width:200px;
  height:39px;
}
#u4008_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4009 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:458px;
  width:15px;
  height:16px;
}
#u4009_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4009_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4010 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:490px;
  width:15px;
  height:16px;
}
#u4010_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4010_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
}
#u4011 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:490px;
  width:50px;
  height:20px;
  font-size:12px;
  color:#3760AC;
}
#u4011_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u4012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
}
#u4012 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:490px;
  width:50px;
  height:20px;
}
#u4012_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u4013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u4013 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:968px;
  width:80px;
  height:35px;
  color:#999999;
}
#u4013_img.mouseOver {
}
#u4013.mouseOver {
}
#u4013_img.selected {
}
#u4013.selected {
}
#u4013_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u4014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u4014 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:968px;
  width:80px;
  height:35px;
  color:#999999;
}
#u4014_img.mouseOver {
}
#u4014.mouseOver {
}
#u4014_img.selected {
}
#u4014.selected {
}
#u4014_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u4015 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:519px;
  width:1051px;
  height:430px;
  overflow:hidden;
}
#u4015_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:430px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4015_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u4017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:39px;
}
.u4018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:40px;
}
.u4018 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:39px;
}
.u4018_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:40px;
}
.u4019 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:0px;
  width:160px;
  height:39px;
  font-size:12px;
}
.u4019_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
.u4020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
.u4020 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:0px;
  width:80px;
  height:39px;
  font-size:12px;
}
.u4020_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
.u4021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
.u4021 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:0px;
  width:80px;
  height:39px;
  font-size:12px;
}
.u4021_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
.u4022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
}
.u4022 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:0px;
  width:120px;
  height:39px;
  font-size:12px;
}
.u4022_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
.u4023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
.u4023 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:0px;
  width:80px;
  height:39px;
  font-size:12px;
}
.u4023_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
.u4024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
.u4024 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:0px;
  width:80px;
  height:39px;
  font-size:12px;
}
.u4024_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
.u4025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
.u4025 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:0px;
  width:80px;
  height:39px;
  font-size:12px;
}
.u4025_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
.u4026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
}
.u4026 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:0px;
  width:140px;
  height:39px;
  font-size:12px;
}
.u4026_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
.u4027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:40px;
}
.u4027 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:0px;
  width:200px;
  height:39px;
}
.u4027_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4028 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:13px;
  width:15px;
  height:16px;
}
.u4028_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4028_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
.u4029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
}
.u4029 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:8px;
  width:50px;
  height:20px;
  font-size:12px;
  color:#3760AC;
}
.u4029_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
.u4030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:21px;
}
.u4030 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:8px;
  width:50px;
  height:20px;
}
.u4030_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u4016-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:39px;
}
#u4016-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:39px;
  width:1050px;
  height:39px;
}
#u4016-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:78px;
  width:1050px;
  height:39px;
}
#u4016-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:117px;
  width:1050px;
  height:39px;
}
#u4016-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:156px;
  width:1050px;
  height:39px;
}
#u4016-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:195px;
  width:1050px;
  height:39px;
}
#u4016-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:234px;
  width:1050px;
  height:39px;
}
#u4016-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:273px;
  width:1050px;
  height:39px;
}
#u4016-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:312px;
  width:1050px;
  height:39px;
}
#u4016-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:351px;
  width:1050px;
  height:39px;
}
#u4016-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:390px;
  width:1050px;
  height:39px;
}
#u4016-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:429px;
  width:1050px;
  height:39px;
}
#u4016-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:468px;
  width:1050px;
  height:39px;
}
#u4016-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:507px;
  width:1050px;
  height:39px;
}
#u4016 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:546px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u4032 {
  position:absolute;
  left:662px;
  top:968px;
}
#u4032_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:439px;
  height:36px;
  background-image:none;
}
#u4032_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4033 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u4034 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:0px;
  width:35px;
  height:35px;
  color:#999999;
}
#u4034_img.mouseOver {
}
#u4034.mouseOver {
}
#u4034_img.selected {
}
#u4034.selected {
}
#u4034_img.disabled {
}
#u4034.disabled {
}
#u4034_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u4035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u4035 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:0px;
  width:35px;
  height:35px;
  color:#999999;
}
#u4035_img.mouseOver {
}
#u4035.mouseOver {
}
#u4035_img.selected {
}
#u4035.selected {
}
#u4035_img.disabled {
}
#u4035.disabled {
}
#u4035_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u4036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u4036 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:0px;
  width:35px;
  height:35px;
  color:#999999;
}
#u4036_img.mouseOver {
}
#u4036.mouseOver {
}
#u4036_img.selected {
}
#u4036.selected {
}
#u4036_img.disabled {
}
#u4036.disabled {
}
#u4036_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u4037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u4037 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:0px;
  width:35px;
  height:35px;
  color:#999999;
}
#u4037_img.mouseOver {
}
#u4037.mouseOver {
}
#u4037_img.selected {
}
#u4037.selected {
}
#u4037_img.disabled {
}
#u4037.disabled {
}
#u4037_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u4038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u4038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:300;
  font-style:normal;
  color:#999999;
}
#u4038_img.mouseOver {
}
#u4038.mouseOver {
}
#u4038_img.selected {
}
#u4038.selected {
}
#u4038_img.disabled {
}
#u4038.disabled {
}
#u4038_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u4039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u4039 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:0px;
  width:35px;
  height:35px;
  color:#999999;
}
#u4039_img.mouseOver {
}
#u4039.mouseOver {
}
#u4039_img.selected {
}
#u4039.selected {
}
#u4039_img.disabled {
}
#u4039.disabled {
}
#u4039_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u4040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u4040 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:0px;
  width:35px;
  height:35px;
  color:#999999;
}
#u4040_img.mouseOver {
}
#u4040.mouseOver {
}
#u4040_img.selected {
}
#u4040.selected {
}
#u4040_img.disabled {
}
#u4040.disabled {
}
#u4040_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u4041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u4041 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:0px;
  width:35px;
  height:35px;
  font-family:'Font Awesome 5 Pro Light', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:300;
  font-style:normal;
  color:#999999;
}
#u4041_img.mouseOver {
}
#u4041.mouseOver {
}
#u4041_img.selected {
}
#u4041.selected {
}
#u4041_img.disabled {
}
#u4041.disabled {
}
#u4041_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u4042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u4042 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:0px;
  width:35px;
  height:35px;
  color:#999999;
}
#u4042_img.mouseOver {
}
#u4042.mouseOver {
}
#u4042_img.selected {
}
#u4042.selected {
}
#u4042_img.disabled {
}
#u4042.disabled {
}
#u4042_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u4043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u4043 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:0px;
  width:80px;
  height:35px;
}
#u4043_img.mouseOver {
}
#u4043.mouseOver {
}
#u4043_img.selected {
}
#u4043.selected {
}
#u4043_img.disabled {
}
#u4043.disabled {
}
#u4043_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
