body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1260px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3864 {
  position:absolute;
  left:0px;
  top:80px;
}
#u3864_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:121px;
  height:881px;
  background-image:none;
}
#u3864_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:881px;
}
#u3866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:880px;
  color:#BFBFBF;
}
#u3866_img.mouseOver {
}
#u3866.mouseOver {
}
#u3866_img.selected {
}
#u3866.selected {
}
#u3866_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:101px;
}
#u3867 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:100px;
  color:#BFBFBF;
}
#u3867_img.mouseOver {
}
#u3867.mouseOver {
}
#u3867_img.selected {
}
#u3867.selected {
}
#u3867_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u3868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:101px;
}
#u3868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:120px;
  height:100px;
  color:#BFBFBF;
}
#u3868_img.mouseOver {
}
#u3868.mouseOver {
}
#u3868_img.selected {
}
#u3868.selected {
}
#u3868_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u3869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:101px;
}
#u3869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:120px;
  height:100px;
  color:#BFBFBF;
}
#u3869_img.mouseOver {
}
#u3869.mouseOver {
}
#u3869_img.selected {
}
#u3869.selected {
}
#u3869_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u3870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:101px;
}
#u3870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:500px;
  width:120px;
  height:100px;
  color:#BFBFBF;
  line-height:48px;
}
#u3870_img.mouseOver {
}
#u3870.mouseOver {
}
#u3870_img.selected {
}
#u3870.selected {
}
#u3870_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  word-wrap:break-word;
}
#u3871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:101px;
}
#u3871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:120px;
  height:100px;
  color:#BFBFBF;
}
#u3871_img.mouseOver {
}
#u3871.mouseOver {
}
#u3871_img.selected {
}
#u3871.selected {
}
#u3871_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u3872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:101px;
}
#u3872 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:120px;
  height:100px;
  color:#BFBFBF;
}
#u3872_img.mouseOver {
}
#u3872.mouseOver {
}
#u3872_img.selected {
}
#u3872.selected {
}
#u3872_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u3873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:101px;
}
#u3873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:600px;
  width:120px;
  height:100px;
  color:#BFBFBF;
  line-height:48px;
}
#u3873_img.mouseOver {
}
#u3873.mouseOver {
}
#u3873_img.selected {
}
#u3873.selected {
}
#u3873_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  word-wrap:break-word;
}
#u3874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:61px;
}
#u3874 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:820px;
  width:118px;
  height:60px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#BFBFBF;
  line-height:28px;
}
#u3874_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:114px;
  word-wrap:break-word;
}
#u3875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:61px;
}
#u3875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:820px;
  width:78px;
  height:60px;
  font-family:'Font Awesome 5 Pro';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#BFBFBF;
  line-height:28px;
}
#u3875_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:74px;
  word-wrap:break-word;
}
#u3876 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:80px;
  width:1141px;
  height:881px;
  overflow:hidden;
}
#u3876_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:881px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3876_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1136px;
  height:876px;
}
#u3877_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:1136px;
  height:876px;
  overflow:auto;
}
#u3878 {
  position:absolute;
  left:120px;
  top:80px;
}
#u3878_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:141px;
  height:881px;
  background-image:none;
}
#u3878_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:881px;
}
#u3879 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:880px;
}
#u3879_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:61px;
}
#u3880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u3880_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u3881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:31px;
}
#u3881 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:15px;
  width:18px;
  height:30px;
  font-size:28px;
}
#u3881_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u3882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u3882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u3882_img.selected {
}
#u3882.selected {
}
#u3882_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u3883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u3883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u3883_img.selected {
}
#u3883.selected {
}
#u3883_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u3884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u3884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u3884_img.selected {
}
#u3884.selected {
}
#u3884_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u3878_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:141px;
  height:881px;
  visibility:hidden;
  background-image:none;
}
#u3878_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:881px;
}
#u3885 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:880px;
}
#u3885_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:61px;
}
#u3886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u3886_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u3887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:31px;
}
#u3887 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:15px;
  width:18px;
  height:30px;
  font-size:28px;
}
#u3887_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u3888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u3888 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u3888_img.selected {
}
#u3888.selected {
}
#u3888_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u3889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u3889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u3889_img.selected {
}
#u3889.selected {
}
#u3889_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u3890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u3890 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u3890_img.selected {
}
#u3890.selected {
}
#u3890_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u3878_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:141px;
  height:881px;
  visibility:hidden;
  background-image:none;
}
#u3878_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:881px;
}
#u3891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:880px;
}
#u3891_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:61px;
}
#u3892 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u3892_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u3893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:31px;
}
#u3893 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:15px;
  width:18px;
  height:30px;
  font-size:28px;
}
#u3893_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u3894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u3894 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u3894_img.selected {
}
#u3894.selected {
}
#u3894_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u3895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u3895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u3895_img.selected {
}
#u3895.selected {
}
#u3895_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u3878_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:141px;
  height:881px;
  visibility:hidden;
  background-image:none;
}
#u3878_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:881px;
}
#u3896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:880px;
}
#u3896_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:61px;
}
#u3897 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u3897_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u3898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:31px;
}
#u3898 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:15px;
  width:18px;
  height:30px;
  font-size:28px;
}
#u3898_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u3899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u3899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u3899_img.selected {
}
#u3899.selected {
}
#u3899_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u3900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u3900 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u3900_img.selected {
}
#u3900.selected {
}
#u3900_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u3901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u3901 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u3901_img.selected {
}
#u3901.selected {
}
#u3901_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u3878_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:141px;
  height:881px;
  visibility:hidden;
  background-image:none;
}
#u3878_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:881px;
}
#u3902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:880px;
}
#u3902_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:61px;
}
#u3903 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u3903_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u3904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:31px;
}
#u3904 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:15px;
  width:18px;
  height:30px;
  font-size:28px;
}
#u3904_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u3905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u3905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u3905_img.selected {
}
#u3905.selected {
}
#u3905_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u3906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u3906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u3906_img.selected {
}
#u3906.selected {
}
#u3906_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u3907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u3907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u3907_img.selected {
}
#u3907.selected {
}
#u3907_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u3908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u3908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u3908_img.selected {
}
#u3908.selected {
}
#u3908_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u3909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u3909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:220px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u3909_img.selected {
}
#u3909.selected {
}
#u3909_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u3878_state5 {
  position:relative;
  left:0px;
  top:0px;
  width:141px;
  height:881px;
  visibility:hidden;
  background-image:none;
}
#u3878_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:881px;
}
#u3910 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:880px;
}
#u3910_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:61px;
}
#u3911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u3911_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:136px;
  word-wrap:break-word;
}
#u3912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:31px;
}
#u3912 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:15px;
  width:18px;
  height:30px;
  font-size:28px;
}
#u3912_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u3913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u3913 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u3913_img.selected {
}
#u3913.selected {
}
#u3913_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u3914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u3914 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u3914_img.selected {
}
#u3914.selected {
}
#u3914_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u3915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u3915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u3915_img.selected {
}
#u3915.selected {
}
#u3915_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u3916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u3916 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:260px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u3916_img.selected {
}
#u3916.selected {
}
#u3916_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u3917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u3917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:220px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u3917_img.selected {
}
#u3917.selected {
}
#u3917_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u3918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u3918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u3918_img.selected {
}
#u3918.selected {
}
#u3918_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u3919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u3919 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u3919_img.selected {
}
#u3919.selected {
}
#u3919_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u3920_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u3920 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:340px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
}
#u3920_img.selected {
}
#u3920.selected {
}
#u3920_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u3921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u3921 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:122px;
  width:25px;
  height:15px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u3921_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3923 {
  position:absolute;
  left:0px;
  top:0px;
}
#u3923_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1261px;
  height:81px;
  background-image:none;
}
#u3923_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:81px;
}
#u3924 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:80px;
}
#u3924_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:59px;
}
#u3925 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:10px;
  width:171px;
  height:58px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3925_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:167px;
  word-wrap:break-word;
}
#u3926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u3926 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:15px;
  width:50px;
  height:50px;
}
#u3926_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u3927 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:15px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u3927_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3928 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:25px;
  width:200px;
  height:30px;
}
#u3929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u3929 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  color:#FFFFFF;
}
#u3929_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u3930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u3930 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  color:#FFFFFF;
}
#u3930_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u3932 {
  position:absolute;
  left:330px;
  top:960px;
}
#u3932_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:601px;
  height:171px;
  background-image:none;
}
#u3932_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:171px;
}
#u3933 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:170px;
}
#u3933_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:44px;
}
#u3934 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:64px;
  width:300px;
  height:43px;
  color:#A6A6A6;
}
#u3934_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
